.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 18px 70px 18px;
}

.header__link-logo {
  background-image: url("../../images/logo.svg");
  display: block;
  width: 38px;
  height: 38px;
}

.header__link-profile {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
  background-color: #313131;
  padding: 8px 20px;
  border-radius: 20px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-unauthorized-items {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__link-register {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.header__link-login {
  background-color: #3ddc84;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 3px;
}

/*Попап*/
.header__popup {
  background-image: url("../../images/header__popup.svg");
  display: block;
  width: 44px;
  height: 44px;
  background-color: #202020;
  border: none;
  cursor: pointer;
}

/* ЭФФЕКТЫ ЭФФЕКТЫ ЭФФЕКТЫ */
.header__link:hover {
  opacity: 70%;
}

/*ШИРИНА ЭКРАНА 768px*/
/*
header
header__navigation
header__link-logo
header__popup
header__navigation
header__link-logo
header__navigation-unauthorized-items
header__link-register
header__link-login*/
@media screen and (max-width: 1024px) {
  .header {
    padding: 18px 30px 18px;
  }
}

/*ШИРИНА ЭКРАНА 320px*/
/*
header
header__navigation
header__link-logo
header__popup
header__navigation
header__link-logo
header__navigation-unauthorized-items
header__link-register
header__link-login*/
@media screen and (max-width: 540px) {
  .header {
    padding: 18px 14px 18px;
  }
  .header__navigation-unauthorized-items {
    gap: 14px;
  }
  .header__link-register {
    font-size: 10px;
  }
  .header__link-login {
    font-size: 10px;
    padding: 5px 12px;
  }
  .header__popup {
    width: 40px;
    height: 40px;
  }
}
